@import "../../../styles/colors.scss";

.Gallery {
  &__section:not(.last) {
    padding-bottom: 1rem;
  }

  .wrapper {
    display: flex;
    flex-wrap: nowrap;
    text-transform: uppercase;
    overflow: visible;
  }

  &__text {
    .text {
      font-size: 16rem;
      line-height: 1;
      color: $white;
      white-space: nowrap;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    z-index: 100;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
  }

  li {
    flex-shrink: 0;
    width: clamp(500px, 60vw, 800px);
    margin-right: 1rem;
    height: 400px;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      filter: grayscale(80%);
    }
  }
}
