@import "../../styles/colors";

.Arrow {
  margin-bottom: 50px;

  &__icon {
    border-color: transparent transparent $titleColor;
    border-style: solid;
    border-width: 20px;
    height: 0px;
    width: 0px;
  }
}
