@import "../../styles/colors";
@import "../../styles/breakpoints";

.Navigation {
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      margin-right: 10px;

      a {
        transition: all 1s;
      }

      &.is-active {
        a {
          color: $titleColor;
        }
      }

      @include medium {
        margin-right: 30px;
        padding-right: 3px;
      }
    }
  }
}
