@import "../../styles/breakpoints";

.Navigation {
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      margin-right: 10px;

      @include medium {
        margin-right: 30px;
        padding-right: 3px;
      }
    }
  }
}
