@import "../../../styles/colors";

.Header {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 98;
  transition: top 0.5s ease;
  backdrop-filter: invert(90%);

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }
}
